@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-bricolage-grotesque: var(--font-bricolage-grotesque);
  --font-inter: var(--font-inter);
}

.font-bricolage-grotesque {
  font-family: var(--font-bricolage-grotesque), sans-serif;
}

.font-inter {
  font-family: var(--font-inter), sans-serif;
}
